{% load static %}
<!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>拓普Python学院，欢迎关注！</p>
                    <img src="{% static "picture/weixinqr.jpg" %}" alt="微信二维码-互联网的一些事" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:445813</p>
                    <p>Email：445813@qq.com</p>
                </div>
            </div>